In [1]:
pi = 3.14159
def area(radius):
    return pi*(radius**2)
def circumference(radius):
    return 2*pi*radius

In [2]:
print (pi)

3.14159

In [3]:
print (area(10))

314.159

In [4]:
print (circumference(3))

18.849539999999998

In [11]:
# without using magic function
#pip install ipython-sql

In [12]:
import sqlite3

In [19]:
connection = sqlite3.connect("db_univ7.db")

In [20]:
cursor = connection.cursor()

In [56]:
cursor.execute("CREATE TABLE IF NOT EXISTS people,
(first_name TEXT last_name TEXT)")

SyntaxError: EOL while scanning string literal (389417387.py, line 1)

In [24]:
with connection:
    cursor.execute("select * from student")

In [25]:
rows = cursor.fetchall()

In [26]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120

In [27]:
cursor.execute("INSERT INTO student values ('44444', 'John', 'History', 10)")

In [28]:
with connection:
    cursor.execute("select * from student")

In [29]:
rows = cursor.fetchall() #fetch all in the rows

In [30]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
44444 John History 10

In [31]:
sID='33344'

In [32]:
sname='Maria'

In [33]:
cursor.execute("INSERT INTO student values (?, ?, 'History', 40)",(sID,sname))

In [34]:
with connection:
    cursor.execute("select * from student")

In [35]:
rows = cursor.fetchall()

In [36]:
for row in rows:
    print(row[0], row[1], row[2], row[3])

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
44444 John History 10
33344 Maria History 40

In [38]:
a = '12555'
b = 'Hanna'
cursor.execute("INSERT INTO student values (?, ?, 'Comp. Sci.', 100)", (a,b))
with connection:
    cursor.execute('select * from student')
rows = cursor.fetchall()
for row in rows:
    print(row[0], row[1], row[2])

00128 Zhang Comp. Sci.
12345 Shankar Comp. Sci.
19991 Brandt History
23121 Chavez Finance
44553 Peltier Physics
45678 Levy Physics
54321 Williams Comp. Sci.
55739 Sanchez Music
70557 Snow Physics
76543 Brown Comp. Sci.
76653 Aoi Elec. Eng.
98765 Bourikas Elec. Eng.
98988 Tanaka Biology
44444 John History
33344 Maria History
12555 Hanna Comp. Sci.

In [39]:
import statistics

In [40]:
from_db = []

In [41]:
for row in rows:
    print(row[0], row[1], row[2], row[3]);
    from_db.append(row[3]);

00128 Zhang Comp. Sci. 102
12345 Shankar Comp. Sci. 32
19991 Brandt History 80
23121 Chavez Finance 110
44553 Peltier Physics 56
45678 Levy Physics 46
54321 Williams Comp. Sci. 54
55739 Sanchez Music 38
70557 Snow Physics 0
76543 Brown Comp. Sci. 58
76653 Aoi Elec. Eng. 60
98765 Bourikas Elec. Eng. 98
98988 Tanaka Biology 120
44444 John History 10
33344 Maria History 40
12555 Hanna Comp. Sci. 100

In [42]:
print (from_db)

[102, 32, 80, 110, 56, 46, 54, 38, 0, 58, 60, 98, 120, 10, 40, 100]

In [44]:
from_name =[]
for row in rows:
    from_name.append(row[1])
print(from_name)

['Zhang', 'Shankar', 'Brandt', 'Chavez', 'Peltier', 'Levy', 'Williams', 'Sanchez', 'Snow', 'Brown', 'Aoi', 'Bourikas', 'Tanaka', 'John', 'Maria', 'Hanna']

In [45]:
statistics.mean(from_db)

62.75

In [46]:
statistics.stdev(from_db)

35.78360891059853

In [30]:
type rows

SyntaxError: invalid syntax (713714506.py, line 1)

In [24]:
statistics.mean(rows[3])

TypeError: can't convert type 'str' to numerator/denominator